.input_form {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.entry_form {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button {
    background-color: hsl(0, 0%, 17%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}