.insert {    
    display: flex;
    flex-direction: row;
    border: solid white;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding: 0;
    width: 70%;
    margin: auto;
    position: absolute;
    z-index: 1000;
    width: 70%;
    top: 25%;
    right: 15%;
}

.insert .card {
    border: none;
    border-radius: 0;
    border-right: lightgray solid 1px;
    border-right-style: unset;
    padding-top: 5px;
}

.insert h6 {
    color: hsl(0, 0%, 59%);
    background-color: white;
    border: none;
    font-size: 10px;
}
.insert h5 {
    font-size: larger;
    font-size: 15px;
    color: hsl(0, 0%, 17%);
}


@media screen and (max-width: 375px) {
    .insert {
     display: flex;
     flex-direction: column;
     z-index: 1000;
     margin: auto;
     top: 28%;
     height: 10%;  
     width: 70%; 
     
    }

    .insert .card {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .insert h5,
    .insert h6 {
        padding: 0;
    }
  }



